@use '../base/base';

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav float-start {
    float: left !important;
    margin-bottom: 12px;
}
.nav float-end {
    float: right !important;
    margin-bottom: 12px;
}
a {
    text-decoration: none !important;
    color: var(--text-nor) !important;
}
#top {
    position: relative;
    margin: 0px 0px 20px;
    padding: 5px 0px;
    background: var(--primary-color);
    border-bottom: var(--secondary-color);
}
li {
    color: var(--text-nor) !important;
}
